/*General style*/
* {
    box-sizing: border-box;
}

body {
    background-color: #fcf7ea;
    margin          : 0;
    padding         : 0;
    width           : 100%;
}

/*Stijl voor header*/
.header {
    margin          : 0 auto;
    align-items     : center;
    background-color: rgb(47, 67, 83);
    padding         : 10px 0;
}

.banner {
    background-color: rgb(47, 67, 83);
    width           : 100%;
}


/*Style logo*/
.logo-header {
    display       : flex;
    flex-direction: column;
    /*Logo boven navigatie*/
    align-items   : center;
}

/*Style header logo*/
.logo {
    width           : 90px;
    height          : auto;
    background-color: transparent;
    padding         : 10px;
}

/*Titelstijlen*/
h1,
h2 {
    font-family: "Open Sans", sans-serif;
    color      : rgb(208, 129, 75);
    font-size  : 2rem;
}

h3 {
    font-family: "Open Sans", sans-serif;
    color      : rgb(47, 67, 83);
    font-size  : 1.8rem;
}

h4 {
    font-family: "Open Sans", sans-serif;
    color      : rgb(47, 67, 83);
    font-size  : 1rem;
}


p {
    font-family: "Open Sans", sans-serif;
    font-size  : 0.8rem;
}

/*Style of header*/
/*Style of logo*/
.logo {
    width : 90px;
    cursor: pointer;
    /*De gebruiker kan op het logo klikken*/
}

/*Navigation*/
/*Style of navbar*/
.navbar {
    font-family    : "Open Sans", sans-serif;
    width          : 85%;
    padding        : 35px;
    margin         : auto;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    z-index        : 100;
}

.navbar li {
    width : auto;
    height: auto;
}

.navbar ul li {
    list-style: none;
    display   : inline-block;
    /*Elementen staan naast elkaar*/
    margin    : 0 20px;
    position  : relative;
}

.navbar ul li a {
    text-decoration: none;
    color          : #fff;
     display: block;
    padding: 10px 0;
    transition: font-weight 0.2s;
}

.navbar ul li a:hover {
    font-weight: bold;
    /*De lijn is zichtbaar bij hover/*/
}

/*Style of submenu*/
.submenu {
    display   : none;
    position  : absolute;
    min-width : 160px;
    list-style: none;
    z-index   : 1000;
    top       : 100%;
    left      : 0;
    padding   : 0;
    margin    : 0;
    font-size : 14px;
}

/* De items BINNEN het submenu */
.navbar .submenu li {
    width  : auto;
    height : auto;
    margin : 0;
    padding: 8px 0;
    display: block;
    /* Zorgt dat ze netjes onder elkaar blijven staan */
}

/* De witte hover-lijn wordt niet getoond wordt onder de submenu-items */
.navbar .submenu li::after {
    display: none;
}

.navbar ul li.dropdown {
    position: relative;
}

/* Submenu wordt zichtbaar als je op de 'dropdown' li hoovert */
.navbar ul li.dropdown:hover > .submenu {
    display         : block;
    top             : 100%;
    left            : 5px;
    margin          : 0px;
    padding         : 10px 20px;
    border-radius   : 12px;
    background-color: rgba(35, 50, 64, 0.95);
}

/* De items in het submenu staan onder elkaar */
.submenu li {
    display: block;
    width  : 100%;
    height : auto;
    padding: 10px 15px;
}

.submenu li a {
    display: block;
    width  : 100%;
}

.submenu li::after {
    display: none;
}

/*Stijl of dropdown-sub*/
.navbar .submenu li.dropdown-sub {
    position: relative;
}

.navbar ul .submenu li.dropdown-sub {
    position: relative;
}

/* 2. Dwing het diepere submenu naar rechts met een specifiekere selector */
.navbar ul .submenu li.dropdown-sub .submenu {
    display         : none;
    position        : absolute;
    top             : 0 !important;
    left            : 100% !important;
    margin          : 0;
    padding         : 10px 20px;
    background-color: rgba(31, 44, 56, 0.98);
    border-radius   : 12px;
}

/*Hover */
.navbar ul .submenu li.dropdown-sub:hover>.submenu {
    display: block;
}


/*Style main*/
main {
    max-width     : 1100px;
    margin        : 0 auto;
    padding       : 60px 20px;
    display       : flex;
    flex-direction: column;
    gap           : 5px;
}

/*Style of searchbar*/
form {
    flex-shrink: 0;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.search {
    width        : max-content;
    display      : flex;
    align-items  : center;
    padding      : 14px;
    border-radius: 28px;
    background   : #f4efe6;
    transition: box-shadow 0.25s;
}

/*The user gives focus*/
.search:focus-within{
box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
}

.search-input {
    font-size    : 16px;
    font-family  : "Open Sans", sans-serif;
    color        : rgb(47, 67, 83);
    margin-left  : 14px;
    border-radius: 28px;
    outline      : none;
    border       : none;
    background   : transparent;
    width        : 300px;
}

/*Style of placeholder text*/
.search-input::placeholder,
.search-icon {
    color: rgb(47, 67, 83);
}

/*Style of icons*/
.icons .material-symbols-outlined{
    display: inline-block;
    margin: 25px;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    color: rgb(47, 67, 83);
}

/*Style of title*/
.contactTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 5px;
}

.contactTitle h2{
    color      : rgb(47, 67, 83);
    font-family: "Open Sans", sans-serif;
    margin     : 0;
    padding    : 0;
    font-size  : 2em;   
    display   : flex;
    text-align: center;
    align-items: center;
}

/*Style of inputbox*/
.inputBox select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    background-color: white;
}

/*Style for radio buttons*/
.radioBox {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.radioBox span {
    color: rgb(47, 67, 83);
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 8px;
}

.radioBox label {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: rgb(47, 67, 83);
    margin-bottom: 6px;
}

.radioBox input {
    margin-right: 8px;
}

/*Style voor de contactpagina*/
/*Algemene stijl voor contactpagina*/
.contactUs {
    position : relative;
    width    : 100%;
    max-width: 1200px;
    margin   : 0 auto;
    padding  : 15px 10px;
}

/*Stijl voor boxen contactpagina*/
.box {
    position             : relative;
    display              : grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows   : auto auto;
    /*Rijen volgen inhoud*/
    /*Opmerking          : twee gelijke rijen*/
    grid-template-areas  :
        "form info"
        "form map";
    grid-gap    : 20px;
    margin-top  : 20px;
    align-items : start;
    /* Opmerking: flexibele hoogte */
}

.contact {
    padding      : 40px;
    background   : #fff;
    border-radius: 5px;
    box-shadow   : 0 5px 35px rgb(0, 0, 0, 0.1);
}

.contact h3 {
    color         : rgb(47, 67, 83);
    font-weight   : bold;
    font-size     : 1em;
    margin-bottom : 5px;
    padding-bottom: 5px;
}

.form {
    grid-area  : form;
    grid-column: 1;
}

.info {
    grid-area  : info;
    grid-column: 2;
}

.map {
    grid-area  : map;
    grid-column: 2;
}

/*Style of form*/
.formBox {
    position: relative;
    width   : 100%;
}

.formBox .inputRow50 {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    /*2 gelijke kolommen naast elkaar*/
    gap                  : 10px;
    width                : 100%;
}

.inputBox {
    display       : flex;
    flex-direction: column;
    margin-bottom : 10px;
    width         : 100%;
    /*De breedt wordt bepaald door grid*/
}

/*Stijl van inputbox en message*/
.inputBox span,
.message span {
    color        : rgb(47, 67, 83);
    font-family  : "Open Sans", sans-serif;
    margin-bottom: 5px;
    font-size    : 13px;
    margin-top   : 10px;
    margin-bottom: 5px;
    font-weight  : 500;
}

.inputBox input,
.message textarea {
    width        : 100%;
    padding      : 10px;
    border       : 1px solid #ccc;
    border-radius: 4px;
    font-size    : 12px;
    /*De tekst dat de gebruiker ingeeft*/
    font-family  : "Open Sans", sans-serif;
    /*De tekst die de gebruiker ingeeft*/
    outline      : none;
}

/*Stijl van messagebox*/
/*Message over de volledige breedte*/
.formBox .inputRow50 .message {
    grid-column   : 1 / span 2;
    /* Kolom 1 over beide kolommen te stretchen */
    width         : 100%;
    /* Neemt de volledige breedte */
    display       : flex;
    flex-direction: column;
}

.message textarea {
    min-height: 150px;
    /*startgrootte is 150px*/
    height    : auto;
    /*Flexibele hoogte instellen*/
    resize    : vertical;
    /*Tekstvlak kan alleen nog maar omhoog en omlaag worden geslepen*/
    max-height: 400px;
    width     : 100%;
}

/*Specifieke stijl wanneer de gebruiker klikt op input en texteara*/
.formBox input::placeholder,
.formBox textarea::placeholder {
    color     : silver;
    opacity   : 1;
    transition: all 0.3s ease;
}

.formBox input:focus,
.formBox textarea:focus {
    border-color: rgb(208, 129, 75) !important;
    outline     : none;
    /*Verwijderen van standaard felle rand*/
}

/*Style send button*/
.formBox .inputRow50 .submit {
    grid-column    : span 2;
    /*De span wordt verspreid over 2 kolommen*/
    display        : flex;
    justify-content: flex-end;
    gap            : 10px;
    width          : 100%;
}

.submit input {
    padding         : 10px 30px;
    margin          : 10px;
    background-color: rgb(47, 67, 83);
    color           : white;
    border          : none;
    border-radius   : 4px;
    cursor          : pointer;
    font-weight     : bold;
    transition      : background-color 0.2s ease;
    /* Zorgt voor een vloeiende hover */
}

.submit input:hover {
    background-color: rgb(34, 49, 61);
}

/*Style of info contact box*/
.info {
    background-color: rgb(34, 49, 61);
    color           : #ffff;
    padding         : 40px;
    border-radius   : 5px;
}

.info h3 {
    color    : #ffffff;
    padding  : 10px;
    font-size: 1em;
}

.info .sc h3 {
    text-align: center;
}

.info .infoBox div {
    display      : flex;
    align-items  : center;
    margin-bottom: 10px;
}

.info .infoBox div span,
.info .infoBox div a {
    min-width      : 40px;
    height         : 40px;
    color          : #ffff;
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 15px;
    margin-right   : 15px;
    font-family    : "Open Sans", sans-serif;
    text-decoration: none;
}

/*Style of social media icons (sci)*/
.sci {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    padding     : 5px;
    margin-right: 15px;
    font-size   : 1.5em;
    transition  : all 0.3s ease;
    color       : #ccc;
}

.sci li a:hover {
    color      : #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    transform  : scale(1.1);
}

/*Style for map*/
.map {
    padding: 0;
}

.map iframe {
    width        : 100%;
    height       : 100%;
    min-height   : 250px;
    border-radius: 5px;
}

/*Stijl voor footer*/

/*1) General*/
.footer-distributed {
    display         : flex;
    flex-wrap       : nowrap;
    background-color: rgb(47, 67, 83);
    width           : 100%;
    /*Volledige footer heeft dezelfde background color*/
    margin-top      : 10px;
    padding         : 50px 50px 60px 50px;
    bottom          : 0;
    box-sizing      : border-box;
    height          : 450px;
}

/*2) Titelstijlen footer*/
.footer-distributed h2,
/*Opmerking: komma niet vergeten*/
.footer-distributed h3 {
    font-size: 16px;
    color    : white;
}

.footer-distributed h2 {
    margin : 5px;
    padding: 5px;
}

.footer-distributed .footer-center h2,
.footer-distributed .footer-right h2 {
    font-family: "Playfair display", sans-serif;
}

.footer-distributed h3,
/*Opmerking: komma niet vergeten*/
.footer-distributed p {
    margin : 10px;
    padding: 5px;
}

.footer-distributed .footer-center p,
.footer-distributed .footer-right p {
    font-size     : 12px;
    display       : inline-block;
    color         : #fff;
    vertical-align: middle;
}


/*3) Logo seahorse footer*/
.logo-footer #seahorse {
    height     : 135px;
    width      : auto;
    align-items: center;
    margin     : 5px auto;
}

/*4) Stjl voor navigatie in footer*/
.footer-nav {
    display       : flex;
    flex-direction: column;
    margin        : 5px;
    padding       : 5px;
    gap           : 5px;
}

.footer-nav ul li{
    text-decoration: none;
    list-style: none;
    font-family    : "Open Sans", sans-serif;
    text-align: left;
}

.footer-nav ul li a {
    display        : block;
    min-width      : 80px;
    padding        : 5px 10px;
    font-size      : 12px;
    color          : #fff;
    text-decoration: none;
    transition     : background-color 0.2s, color 0.2s;
    /*Opmerking    : subtiel hover-effect */
}

.footer-nav a:hover {
    font-weight: bold;

}

/*5) Onderdelen footer*/
/*5.1) Style footer left*/
.footer-distributed .footer-left {
    width : 20%;
    margin: 20px 0 12px 0;
}

.footer-distributed .footer-left a {
    display        : inline-block;
    line-height    : 1.8;
    text-decoration: none;
    color          : #fff;
}

/*5.2) Style footer center*/
.footer-distributed .footer-center {
    width      : 45%;
    font-size  : 12px;
    font-weight: normal;
    margin     : 5px;
    box-sizing : border-box;
}

/*5.3) footer right*/
.footer-distributed .footer-right {
    width     : 35%;
    padding   : 0 10px;
    box-sizing: border-box;
}

/*5.4) e-mailform footer right*/
.footer-distributed .footer-right form {
    display       : flex;
    flex-direction: column;
    /*Input en button staan onder elkaar*/
    gap           : 5px;
    margin-top    : 10px;
}

.footer-distributed .footer-right form input {
    border-radius: 20px;
    height       : 35px;
    width        : 100%;
    padding      : 0 12px;
    font-size    : 10px;
    border       : none;
    box-sizing   : border-box;
}

.footer-distributed .footer-right form #button {
    border-radius   : 20px;
    height          : 35px;
    width           : 100%;
    cursor          : pointer;
    border          : none;
    background-color: #fff;
    color           : rgb(47, 67, 83);
    font-size       : 12px;
    font-weight     : bold;
    transition      : background-color 0.2s, color 0.2s;
    /* subtiel hover-effect */
}

.footer-distributed .footer-right form #button:hover {
    background-color: rgb(47, 67, 83);
    color           : #fff;
    border          : 1px solid #fff;
}

/*6) Stijl copyright*/
.end .copy {
    font-size       : 0.5em;
    text-align      : left;
    line-height     : 1;
    margin          : 0;
    padding         : 12px;
    background-color: rgb(47, 67, 83);
    color           : white;
    width           : 100%;
    /*Volledige footer heeft dezelfde background color*/
}

/*Mediaqueries*/
/*1) Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding-top: 20px;
    }

    .navbar ul {
        display       : flex;
        flex-direction: column;
        /* Zet de hoofditems recht onder elkaar */
        align-items   : center;
        gap           : 10px;
    }

    /* Zorg dat het submenu eerst verborgen blijft binnen de mediaquery */
    .submenu,
    .navbar ul li.dropdown:hover .submenu,
    .navbar ul .submenu li.dropdown-sub .submenu {
        display: none !important;
    }

    h2 {

        font-size: clamp(1.5rem, 3vw, 2rem);

    }

    p {

        font-size: clamp(0.95rem, 2vw, 1rem);

    }

    .card-list {
        grid-template-columns: repeat(2, 1fr);
        /* 2 kolommen op tablet */
    }

    .card-item img {
        height: 220px;
    }

    aside {
        margin : 30px 15px;
        padding: 20px;
    }

    aside h3 {
        font-size: 1rem;

        .footer-distributed {
            flex-direction: column;
            height        : auto;
            gap           : 40px;
        }

        .footer-left,
        .footer-center,
        .footer-right {

            width     : 100%;
            text-align: center;

        }
    }
}

/*2) Smartphone*/
@media (max-width: 767px) {
    .logo {
        width: 80px;
    }

    .navbar ul {
        display       : flex;
        flex-direction: column;
        /* Zet de hoofditems recht onder elkaar */
        align-items   : center;
        gap           : 10px;
    }

    /* Zorg dat het submenu eerst verborgen blijft binnen de mediaquery */
    .submenu,
    .navbar ul li.dropdown:hover .submenu,
    .navbar ul .submenu li.dropdown-sub .submenu {
        display: none !important;
    }

    .bar {
        flex-direction : column;
        /* Zet de zoekbalk en de icoontjes onder elkaar */
        align-items    : center;
        /* Centreer ze netjes in het midden */
        justify-content: center;
        gap            : 10px;
        /* Ruimte tussen de zoekbalk en de icoontjes */
    }

    .search-input {
        width    : 100%;
        /* Zorgt dat de zoekbalk mooi meeschaalt op mobiel */
        max-width: 300px;
    }

    .icons .material-symbols-outlined {
        margin: 10px 15px;
        /* Iets minder marge rondom de icoontjes op mobiel */
    }

    h2 {
        font-size: clamp(1.5rem, 3vw, 2rem);
    }

    p {
        font-size: clamp(0.95rem, 2vw, 1rem);
    }

    .box {
        display: flex;
        flex-direction: column; /* Zet form, info en map onder elkaar */
        align-items: center;
        justify-content: center;
        gap: 20px; /* Ruimte tussen de 3 blokken */
        width: 100%;
        max-width: 450px; /* Zorgt dat het niet te breed uitrekt */
        margin: auto;
    }

    .box .contact.form,
    .box .contact.info,
    .box .contact.map {
        width: 100%;
        box-sizing: border-box;
    }

    .box .contact.map iframe {
        width: 100% !important;
        height: auto;
        min-height: 300px; /* Voorkomt dat de kaart te plat wordt */
    }

    #chatbox-right {
        display: none;
    }

    .footer-distributed {
        display         : flex;
        flex-direction  : column;
        flex-wrap       : nowrap;
        justify-content : center;
        /* Zorgt dat de kolommen als geheel gecentreerd worden */
        align-items     : center;
        /* Centreert de kolommen verticaal indien nodig */
        background-color: rgb(47, 67, 83);
        width           : 100%;
        margin-top      : 10px;
        padding         : 50px 50px 60px 50px;
        bottom          : 0;
        box-sizing      : border-box;
        height          : auto;
        /*De footer past zich automatisch aan*/
        gap             : 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        width     : 100%;
        text-align: center;
    }

    .footer-distributed .footer-left .footer-nav {
        display       : flex;
        flex-direction: column;
        text-align    : center;
        align-items   : center;
    }

    .footer-distributed .footer-left .footer-nav ul {
        padding   : 0;
        margin    : 0;
        list-style: none;
    }

    .footer-distributed .footer-left .footer-nav ul li {
        text-align: center;
    }
}