/*General style*/
* {
    box-sizing: border-box;
}

html {
    width     : 100%;
    overflow-x: hidden;
}

body {
    background-color: #fcf7ea;
    margin          : 0;
    padding         : 0;
}

/*Titelstijlen*/
h1 {
    color      : rgb(47, 67, 83);
    font-family: "Open Sans", sans-serif;
    font-size  : 2rem;

}

h2,
h3 {
    font-family: "Open Sans", sans-serif;
    color      : rgb(208, 129, 75);
    font-size  : 2rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size  : 1rem;
    line-height: 1.5;
    color      : #333;
}

/*Style of header*/
/*Style of banner*/
.banner {
    width : 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85)),
        url("../Images/Brand/banner/banner.jpg");
    background-size    : cover;
    /*Achtergrond vult de banner*/
    background-position: center
        /*De afbeelding wordt gecentreerd*/
    ;
}

/*Style of logo*/
.logo {
    width : 90px;
    cursor: pointer;
    /*De gebruiker kan op het logo klikken*/
}

/*Navigation*/
/*Style of navbar*/
.navbar {
    font-family    : "Open Sans", sans-serif;
    width          : 85%;
    padding        : 35px;
    margin         : auto;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.navbar li {
    width : auto;
    height: auto;
}

.navbar ul li {
    list-style: none;
    display   : inline-block;
    /*Elementen staan naast elkaar*/
    margin    : 0 20px;
    position  : relative;
}

.navbar ul li a {
    text-decoration: none;
    color          : #fff;
}

.navbar ul li::after {
    content    : '';
    height     : 2px;
    width      : 0;
    /*De lijn is nog niet zichtbaar*/
    background : #fff;
    position   : absolute;
    left       : 0;
    /*De lijn start vanaf links*/
    bottom     : -0.5px;
    /*Opmerking: een punt gebruiken, geen komma*/
    transition : width 0.5s ease;
}

.navbar ul li:hover::after {
    width: 50px;
    /*De lijn is zichtbaar bij hover/*/
}

/*Style of submenu*/
.submenu {
    display   : none;
    position  : absolute;
    min-width : 200px;
    list-style: none;
    z-index   : 1000;
    top       : 100%;
    left      : 0;
    padding   : 0;
    margin    : 0;
    font-size : 14px;
}

/* De items BINNEN het submenu */
.navbar .submenu li {
    width  : 120px;
    height : auto;
    margin : 5px;
    padding: 8px 0;
    display: block;
    /* Zorgt dat ze netjes onder elkaar blijven staan */
}

/* De witte hover-lijn wordt niet getoond wordt onder de submenu-items */
.navbar .submenu li::after {
    display: none;
}

.navbar ul li.dropdown {
    position: relative;
}

/* Submenu wordt zichtbaar als je op de 'dropdown' li hoovert */
.navbar ul li.dropdown:hover .submenu {
    display         : block;
    top             : 100%;
    left            : 5px;
    margin          : 0px;
    padding         : 10px 20px;
    border-radius   : 12px;
    background-color: rgba(0, 0, 0, 0.90);
}

/* De items in het submenu staan onder elkaar */
.submenu li {
    display: block;
    width  : auto;
    height : auto;
    padding: 10px 15px;
}

.submenu li a {
    display: block;
    width  : auto;
}

.submenu li::after {
    display: none;
}

/*Stijl of dropdown-sub*/
.navbar .submenu li.dropdown-sub {
    position: relative;
}

.navbar ul .submenu li.dropdown-sub {
    position: relative;
}

/* 2. Dwing het diepere submenu naar rechts met een specifiekere selector */
.navbar ul .submenu li.dropdown-sub .submenu {
    display         : none;
    position        : absolute;
    top             : 0;
    left            : 100%;
    margin          : 0;
    padding         : 10px 20px;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius   : 12px;
}

/*Hover */
.navbar ul .submenu li.dropdown-sub:hover>.submenu {
    display: block;
}


/*Style of catch*/
.catch {
    font-size      : 20px;
    line-height    : 35px;
    font-weight    : bold;
    height         : 35px;
    text-align     : left;
    /*Tekst wordt links uitgelijnd*/
    display        : flex;
    justify-content: center;
    align-items    : center;
    overflow       : hidden;
}

.catch p {
    font-family: "Open Sans", sans-serif;
    margin     : 0;
    line-height: 35px;
    white-space: nowrap;
}

/*Style of slider*/
.slider {
    color      : #ffff;
    margin-left: 18px;
    height     : 35px;
    line-height: 35px;
    overflow   : hidden;
    position   : relative;
}

/*Animatietie toevoegen*/
.slider-track {
    animation: slider 14s linear infinite;
}

.slider-track div {
    height     : 35px;
    line-height: 35px;
    white-space: nowrap;
}

/*Add keyframes*/
@keyframes slider {

    0%,
    14% {
        margin-top: 0px;
    }

    16.66%,
    30.66% {
        margin-top: -35px;
    }

    33.33%,
    47.33% {
        margin-top: -70px;
    }

    50%,
    64% {
        margin-top: -105px;
    }

    66.66%,
    80.66% {
        margin-top: -140px;
    }

    83.33%,
    97.33% {
        margin-top: -175px;
    }

    100% {
        margin-top: 0px;
    }
}

/*Style of text in banner*/
.content {
    padding    : 50px 20px;
    margin-top : 0;
    margin-left: 35px;
    width      : 100%;
    position   : absolute;
    top        : 30%;
    text-align : center;
    color      : #ffffff;
    font-family: "Playfair Display", serif;
}

.content h1 {
    font-size     : 3rem;
    margin        : 10px 0;
    color         : #ffffff;
    letter-spacing: 2px;

}

.content p {
    font-size  : 1rem;
    margin     : 15px 0;
    font-weight: 100;
    font-style : italic;
    line-height: 25px;
    color      : #ffffff;
}

.content .tagline {
    font-family: "Playfair Display", serif;
    font-style : italic;
    font-size  : 1.2rem;
    display    : block;
}

.button-content {
    display            : inline-block;
    text-decoration    : none;
    /* Verwijdert de standaard onderstreping van de link */
    padding            : 15px 25px;
    margin             : 20px;
    font-size          : 16px;
    font-family        : "Playfair Display", serif;
    letter-spacing     : 1px;
    border             : 1px solid #ffffff;
    color              : #ffffff;
    cursor             : pointer;
    background         : linear-gradient(to right, transparent 50%, rgb(208, 129, 75) 50%);
    background-size    : 200%;
    background-position: left;
    transition         : background-position 0.5s;
}

.button-content:hover {
    background-position: right;
    border-color       : rgb(208, 129, 75);
    color              : #ffff;
}

/*Style of main*/
/*General style of main*/
main .about {
    margin: 2rem;
}

/*
1)about
*/
.about {
    padding: 5px;
}

/*Aside*/
aside {
    text-align      : center;
    margin          : 40px auto;
    padding         : 30px;
    background-color: #f3eae1;
    max-width       : 800px;
    border-radius   : 15px;
}

aside h3 {
    font-family: "Open Sans", sans-serif;
    color      : rgb(208, 129, 75);
    font-size  : 1.2em;
}

aside a {
    text-decoration : none;
    font-weight     : bold;
    font-size       : 16px;
    color           : #ffff;
    background-color: rgb(47, 67, 83);
    display         : inline-block;
    padding         : 10px 20px;
    border-radius   : 20px;
    transition      : all 0.3s ease;
}

aside a:hover {
    background-color: #ffff;
    color           : rgb(47, 67, 83);
    border          : 1px solid #fff;
    cursor          : pointer;
}

/*Shop*/
.shop {
    display    : inline-block;
    font-family: "Open Sans", sans-serif;
    font-size  : 11px;
    width      : 100%;
}

/*
1) style of card items
*/
.card-list {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    /*Opmerking          : altijd drie kolommen op groot scherm*/
    max-width            : 1150px;
    margin               : 10px auto;
    padding              : 20px;
    gap                  : 20px;
    justify-content      : center;
    /*Opmerking          : de kolommen worden gecentreerd binnen de container*/
}

.card-list .card-item {
    background     : #fff;
    border-radius  : 15px;
    border         : 1px solid transparent;
    list-style     : none;
    text-decoration: none;
    cursor         : pointer;
    overflow       : hidden;
    transition     :
        border-color 0.5s ease,
        /*Kleur van border veranderd op hover*/
        transform 0.3s ease,
        /*animatie CSS op hover*/
        box-shadow 0.3s ease;
    /*Schaduw veranderd op hover*/
}

.card-list .card-item:hover {
    border-color: 2px solid rgb(47, 67, 83);
    box-shadow  : 0 10px 20px rgba(0, 0, 0, 0.12);
}

/*
2) Image of cards
*/
.card-list .card-item img {
    width       : 100%;
    max-height  : 300px;
    aspect-ratio: 4 / 3;
    /*Opmerking : Bepaling van de gewenste verhouding tussen breedte en hoogte*/
    object-fit  : cover;
    /*Past de afbeelding telkens aan*/
    display     : block;
}

.card-list .card-item h3 {
    color     : rgb(47, 67, 83);
    font-size : 1rem;
    padding   : 0;
    text-align: center;
}

.card-list .card-item p {
    color     : rgb(47, 67, 83);
    font-size : 0.9rem;
    padding   : 5px;
    text-align: center;
}

/*Style of chatbox*/
.chat {
    padding         : 1.5rem;
    margin          : 1.5em;
    position        : fixed;
    right           : 15px;
    height          : 550px;
    bottom          : 85px;
    width           : 450px;
    max-width       : calc(100% - 30px);
    background-color: #ffffff;
    color           : rgb(47, 67, 83);
    border-radius   : 15px;
    box-shadow      : 0px 15px 20px rgb(0, 0, 0, 0.1);
    opacity         : 0;
    transition      : all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.chat .head-text-chat h2 {
    color : white;
    height: 100px;
}

.chat .head-text-chat h3 {
    color : white;
    height: 100px;
}

.chat .head-text-chat {
    font-family    : "Open Sans", sans-serif;
    background     : #2f3e46;
    color          : #fff;
    line-height    : 45px;
    height         : 85px;
    margin         : 10px auto;
    padding        : 5px 5px;
    border-radius  : 15px 15px 0 0;
    font-weight    : 400;
    font-size      : 18px;
    display        : flex;
    justify-content: center;
    text-align     : center;
}

.chat .chat-box {
    padding: 10px;
    width  : 100%;
}

.chat-box .describe-text {
    color      : #555;
    text-align : center;
    font-size  : 17px;
    font-weight: 500;
    height     : 20px;
}

.chat-box form {
    padding: 10px 12px;
    margin : 20px 0;
}

.chat-box form .field {
    height    : 50px;
    width     : 100%;
    margin-top: 20px;
}

.chat-box form .field:last-child {
    margin-bottom: 15px;
}

form .field input,
form .field button,
form .field textarea {
    width        : 100%;
    height       : 100%;
    padding-left : 20px;
    border       : 1px solid lightgrey;
    outline      : none;
    border-radius: 25px;
    font-size    : 16px;
}

form .field input::placeholder,
form .field textarea::placeholder {
    color     : silver;
    transition: all 0.3s ease;
}

form .field input:focus {
    border-color: rgb(208, 129, 75);
}

form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.chat-box form .textarea {
    height: 80px;
    width : 100%;
}

.chat-box form .field textarea {
    height       : 100%;
    width        : 100%;
    border-radius: 50px;
    border       : 1px solid lightgrey;
    resize       : none;
    padding      : 15px 20px;
    font-size    : 16px;
}

.chat-box form .field textarea:focus::placeholder {
    border-color: rgb(208, 129, 75);
}

/*Style button chatbox*/
.chat-box form button {
    font-family  : "Open Sans", sans-serif;
    border       : none;
    border-radius: 15px;
    outline      : none;
    cursor       : pointer;
    background   : rgb(47, 67, 83);
    color        : #fff;
    height       : 35px;
    width        : 100%;
    margin       : 12px auto;
    padding      : 5px;
    transition   : all 0.3s ease;
}

.chat-box form button:hover {
    background : rgb(208, 129, 75);
    font-weight: bold;
}


.chat-box form button:active {
    transform: scale(0.97);
}

/*Icon chatbox*/
#click {
    display: none;
}

label {
    position        : fixed;
    right           : 30px;
    bottom          : 20px;
    height          : 55px;
    width           : 55px;
    background-color: #fff;
    color           : #2f3e46;
    text-align      : center;
    line-height     : 55px;
    border-radius   : 50px;
    font-size       : 30px;
    cursor          : pointer;
}

/*Stijl voor icoon chatbox*/
label span {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    transition: all 0.5s ease;
}

/*Start state of chat button*/
Label span#chat-icon {
    opacity: 1;
}

label span#close-icon {
    opacity: 0;
}

#click:checked~label span#chat-icon {
    opacity  : 0;
    transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked~label span#close-icon {
    opacity  : 1;
    transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked~.chat {
    opacity: 1;
    bottom : 85px;
}


/*Stijl voor footer*/

/*1) General*/
.footer-distributed {
    display         : flex;
    flex-wrap       : nowrap;
    background-color: rgb(47, 67, 83);
    width           : 100%;
    /*Volledige footer heeft dezelfde background color*/
    margin-top      : 10px;
    padding         : 50px 50px 60px 50px;
    bottom          : 0;
    box-sizing      : border-box;
    height          : 450px;
}


.footer-distributed .footer-center h2,
.footer-distributed .footer-right h2 {
    font-family: "Playfair display", sans-serif;
}

/*2) Titelstijlen footer*/
.footer-distributed h2,
/*Opmerking: komma niet vergeten*/
.footer-distributed h3 {
    font-size: 16px;
    color    : white;
}

.footer-distributed h2 {
    margin : 5px;
    padding: 5px;
}

.footer-distributed h3,
/*Opmerking: komma niet vergeten*/
.footer-distributed p {
    margin : 10px;
    padding: 5px;
}

.footer-distributed .footer-center p,
.footer-distributed .footer-right p {
    font-size     : 12px;
    display       : inline-block;
    color         : #fff;
    vertical-align: middle;
}


/*3) Logo seahorse footer*/
.logo-footer #seahorse {
    height     : 135px;
    width      : auto;
    align-items: center;
    margin     : 5px auto;
}

/*4) Stjl voor navigatie in footer*/
.footer-nav {
    display       : flex;
    flex-direction: column;
    margin        : 5px;
    padding       : 5px;
    gap           : 5px;
}

.footer-nav a {
    display        : block;
    min-width      : 80px;
    padding        : 5px 10px;
    font-size      : 12px;
    color          : #fff;
    text-decoration: none;
    transition     : background-color 0.2s, color 0.2s;
    /*Opmerking    : subtiel hover-effect */

}

.footer-nav a:hover {
    font-weight: bold;

}

/*5) Onderdelen footer*/
/*5.1) Style footer left*/
.footer-distributed .footer-left {
    width : 20%;
    margin: 20px 0 12px 0;
}

.footer-distributed .footer-left a {
    display        : inline-block;
    line-height    : 1.8;
    text-decoration: none;
    color          : #fff;
}

/*5.2) Style footer center*/
.footer-distributed .footer-center {
    width      : 45%;
    font-size  : 12px;
    font-weight: normal;
    margin     : 5px;
    box-sizing : border-box;
}

/*5.3) footer right*/
.footer-distributed .footer-right {
    width     : 35%;
    padding   : 0 10px;
    box-sizing: border-box;
}

/*5.4) e-mailform footer right*/
.footer-distributed .footer-right form {
    display       : flex;
    flex-direction: column;
    /*Input en button staan onder elkaar*/
    gap           : 5px;
    margin-top    : 10px;
}

.footer-distributed .footer-right form input {
    border-radius: 20px;
    height       : 35px;
    width        : 100%;
    padding      : 0 12px;
    font-size    : 12px;
    border       : none;
    box-sizing   : border-box;
}

.footer-distributed .footer-right form .button-footer {
    border-radius   : 20px;
    height          : 35px;
    width           : 100%;
    cursor          : pointer;
    border          : none;
    background-color: #fff;
    background-image: none;
    /* verwijdert de gradient van de algemene button-stijl */
    color           : rgb(47, 67, 83);
    font-size       : 12px;
    font-weight     : bold;
    transition      : background-color 0.2s, color 0.2s;
    /* subtiel hover-effect */
}

.footer-distributed .footer-right form .button-footer:hover {
    background-color: rgb(47, 67, 83);
    background-image: none;
    /* verwijdert de gradient van de algemene button-stijl */
    color           : #fff;
    border          : 1px solid #fff;
}

/*6) Stijl copyright*/
.end .copy {
    font-size       : 0.5em;
    text-align      : left;
    line-height     : 1;
    margin          : 0;
    padding         : 12px;
    background-color: rgb(47, 67, 83);
    color           : white;
    width           : 100%;
    /*Volledige footer heeft dezelfde stijl*/
}

/*Mediaqueries*/
/*1) Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding-top: 20px;
    }

    .logo {
        width: 80px;
    }

    .navbar {
        flex-direction: column;
        gap           : 20px;
    }

    .navbar ul {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        gap            : 20px;
    }

    /*Submenu verborgen blijft binnen de mediaquery */
    .submenu {
        display: none;
    }

    /* Toon het submenu pas zodra er over het dropdown-item gehoverd wordt */
    .navbar ul li.dropdown:hover .submenu {
        display: block;
    }

    .content h1 {

        font-size: clamp(2rem, 6vw, 3.5rem);

    }

    h2 {

        font-size: clamp(1.5rem, 3vw, 2rem);

    }

    p {

        font-size: clamp(0.95rem, 2vw, 1rem);

    }

    .content .tagline {
        font-family: "Playfair Display", serif;
        font-style : italic;
        font-size  : 1rem;
        display    : block;
    }

    .button-content {
        padding            : 10px 20px;
        margin             : 15px;
        font-size          : 14px;
        letter-spacing     : 1px;
        border             : 1px solid #ffffff;
        color              : #ffff;
        cursor             : pointer;
        background         : linear-gradient(to right, transparent 50%, rgb(208, 129, 75) 50%);
        background-size    : 200%;
        background-position: left;
        transition         : background-position 0.5s;

    }

    .button-content:hover {
        background-position: right;
        border-color       : rgb(208, 129, 75);
        color              : #ffff;
    }

    .card-list {
        grid-template-columns: repeat(2, 1fr);
        /* 2 kolommen op tablet */
    }

    .card-item img {
        height: 220px;
    }

    aside {
        margin : 30px 15px;
        padding: 20px;
    }

    aside h3 {
        font-size: 1rem;
    }

    .footer-distributed {
        flex-direction: column;
        height        : auto;
        gap           : 40px;
    }

    .footer-left,
    .footer-center,
    .footer-right {

        width     : 100%;
        text-align: center;

    }
}


/*2) Smartphone*/
@media (max-width: 767px) {

    /*De banner krijgt ruimte*/
    .banner {
        height        : auto;
        min-height    : 100vh;
        padding-bottom: 50px;
        /* Ruimte aan de onderkant */
    }

    .logo {
        width: 80px;
    }

    .navbar ul {
        display       : flex;
        flex-direction: column;
        /* Zet de hoofditems recht onder elkaar */
        align-items   : center;
        gap           : 10px;
    }

    /* Zorg dat het submenu eerst verborgen blijft binnen de mediaquery */
    .submenu,
    .navbar ul li.dropdown:hover .submenu,
    .navbar ul .submenu li.dropdown-sub .submenu {
        display: none !important;
    }

    .content {
        position   : relative;
        margin-top : 40px;
        padding    : 20px 10px;
        margin-left: 0;
        width      : 100%;
    }

    .content h1 {
        font-size: 2.2rem;
    }

    .content .tagline {
        font-size: 0.9rem;
    }

    .content h1 {
        font-size: clamp(2rem, 6vw, 3.5rem);
    }

    h2 {
        font-size: clamp(1.5rem, 3vw, 2rem);
    }

    p {
        font-size: clamp(0.95rem, 2vw, 1rem);
    }

    .catch {
        font-size      : 20px;
        line-height    : 35px;
        font-weight    : bold;
        height         : 35px;
        flex-direction : column;
        text-align     : center;
        display        : flex;
        justify-content: center;
        align-items    : center;
        overflow       : hidden;
    }

    .content .tagline {
        font-family: "Playfair Display", serif;
        font-style : italic;
        font-size  : 1rem;
        display    : block;
    }

    .button-content {
        padding            : 10px 20px;
        margin             : 15px;
        font-size          : 14px;
        letter-spacing     : 1px;
        border             : 1px solid #ffffff;
        color              : #ffff;
        cursor             : pointer;
        background         : linear-gradient(to right, transparent 50%, rgb(208, 129, 75) 50%);
        background-size    : 200%;
        background-position: left;
        transition         : background-position 0.5s;

    }

    .button-content:hover {
        background-position: right;
        border-color       : rgb(208, 129, 75);
        color              : #ffff;
    }

    .about-text {
        max-width: 850px;
        margin   : auto;
    }

    .card-list {
        grid-template-columns: 1fr;
        /* 1 kolom op smartphone */
    }

    .card-item {
        max-width: 420px;
        margin   : auto;
    }

    #chatbox-right {
        display: none;
    }

    aside {

        margin : 30px 15px;
        padding: 20px;

    }

    aside h3 {

        font-size: 1rem;
    }

    .footer-distributed {
        display         : flex;
        flex-direction  : column;
        flex-wrap       : nowrap;
        justify-content : center;
        /* Zorgt dat de kolommen als geheel gecentreerd worden */
        align-items     : center;
        /* Centreert de kolommen verticaal indien nodig */
        background-color: rgb(47, 67, 83);
        width           : 100%;
        margin-top      : 10px;
        padding         : 50px 50px 60px 50px;
        bottom          : 0;
        box-sizing      : border-box;
        height          : auto;
        /*De footer past zich automatisch aan*/
        gap             : 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        width     : 100%;
        text-align: center;
    }
}

/*3) Printversie*/
@media print {

    header,
    footer,
    aside {
        display: none
    }
}