/*General style*/
* {
    box-sizing: border-box;
}

html {
    width     : 100%;
    overflow-x: hidden;
}

body {
    background-color: #fcf7ea;
    margin          : 0;
    padding         : 0;
}

/*Titelstijlen*/
h1 {
    color      : rgb(47, 67, 83);
    font-family: "Open Sans", sans-serif;
    font-size  : 2rem;

}

h2,
h3 {
    font-family: "Open Sans", sans-serif;
    color      : rgb(208, 129, 75);
    font-size  : 2rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size  : 1rem;
    line-height: 1.5;
    color      : #333;
}

/*Style of header*/
/*Style of banner*/
.banner {
    width   : 100%;
    height  : 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85)),
        url("../Images/Brand/banner/banner.jpg");
    background-size    : cover;
    /*Achtergrond vult de banner*/
    background-position: center
        /*De afbeelding wordt gecentreerd*/
    ;
}

/*Style of logo*/
.logo {
    width : 90px;
    cursor: pointer;
    /*De gebruiker kan op het logo klikken*/
}

/* Verberg de mobiele menu-knoppen standaard op desktop screens */
#menu-toggle,
.menu-button {
    display: none;
}

/*Navigation*/
/*Style of navbar*/
.navbar {
    font-family    : "Open Sans", sans-serif;
    width          : 85%;
    padding        : 35px;
    margin         : auto;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.navbar li {
    width : auto;
    height: auto;
}

.banner ul {
    padding: 0;
    margin : 0;
}

.navbar ul li {
    list-style: none;
    display   : inline-block;
    /*Elementen staan naast elkaar*/
    margin    : 0 20px;
    position  : relative;
}

.navbar ul li a {
    text-decoration: none;
    color          : #fff;
}

.navbar ul li::after {
    content    : '';
    height     : 2px;
    width      : 0;
    /*De lijn is nog niet zichtbaar*/
    background : #fff;
    position   : absolute;
    left       : 0;
    /*De lijn start vanaf links*/
    bottom     : -0.5px;
    /*Opmerking: een punt gebruiken, geen komma*/
    transition : width 0.5s ease;
}

.navbar ul li:hover::after {
    width: 50px;
    /*De lijn is zichtbaar bij hover/*/
}

/*Style of submenu*/
.submenu {
    display   : none;
    position  : absolute;
    min-width : 200px;
    list-style: none;
    z-index   : 1000;
    top       : 100%;
    left      : 0;
    padding   : 0;
    margin    : 0;
    font-size : 14px;
}

/* De items BINNEN het submenu */
.navbar .submenu li {
    width  : 120px;
    height : auto;
    margin : 5px;
    padding: 8px 0;
    display: block;
    /* Zorgt dat ze netjes onder elkaar blijven staan */
}

/* De witte hover-lijn wordt niet getoond wordt onder de submenu-items */
.navbar .submenu li::after {
    display: none;
}

.navbar ul li.dropdown {
    position: relative;
}

/* Submenu wordt zichtbaar als je op de 'dropdown' li hoovert */
.navbar ul li.dropdown:hover .submenu {
    display         : block;
    top             : 100%;
    left            : 5px;
    margin          : 0px;
    padding         : 10px 20px;
    border-radius   : 12px;
    background-color: rgba(0, 0, 0, 0.90);
}

/* De items in het submenu staan onder elkaar */
.submenu li {
    display: block;
    width  : auto;
    height : auto;
    padding: 10px 15px;
}

.submenu li a {
    display   : block;
    width     : auto;
    transition: transform 0.3s ease, color 0.3s ease;
}

.submenu li:hover>a {
    transform: translateX(8px);
    /* Schuift 8 pixels naar rechts */
    color    : #ffffff;
    /* Verandert de kleur naar wit */
}

.submenu li::after {
    display: none;
}

/*Stijl of dropdown-sub*/
.navbar .submenu li.dropdown-sub {
    position: relative;
}

.navbar ul .submenu li.dropdown-sub {
    position: relative;
}

/* 2. Dwing het diepere submenu naar rechts met een specifiekere selector */
.navbar ul .submenu li.dropdown-sub .submenu {
    display         : none;
    position        : absolute;
    top             : 0;
    left            : 100%;
    margin          : 0;
    padding         : 10px 20px;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius   : 12px;
}

/*Hover */
.navbar ul .submenu li.dropdown-sub:hover>.submenu {
    display: block;
}


/*Style of catch*/
.catch {
    font-size      : 20px;
    line-height    : 35px;
    font-weight    : bold;
    height         : 35px;
    text-align     : left;
    /*Tekst wordt links uitgelijnd*/
    display        : flex;
    justify-content: center;
    align-items    : center;
    overflow       : hidden;
}

.catch p {
    font-family: "Open Sans", sans-serif;
    margin     : 0;
    line-height: 35px;
    white-space: nowrap;
}

/*Style of slider*/
.slider {
    color      : #ffff;
    margin-left: 18px;
    height     : 35px;
    line-height: 35px;
    overflow   : hidden;
    position   : relative;
}

/*Animatietie toevoegen*/
.slider-track {
    animation: slider 14s linear infinite;
}

.slider-track div {
    height     : 35px;
    line-height: 35px;
    white-space: nowrap;
}

/*Add keyframes*/
@keyframes slider {

    0%,
    14% {
        margin-top: 0px;
    }

    16.66%,
    30.66% {
        margin-top: -35px;
    }

    33.33%,
    47.33% {
        margin-top: -70px;
    }

    50%,
    64% {
        margin-top: -105px;
    }

    66.66%,
    80.66% {
        margin-top: -140px;
    }

    83.33%,
    97.33% {
        margin-top: -175px;
    }

    100% {
        margin-top: 0px;
    }
}

/*Style of text in banner*/
.content {
    padding    : 50px 20px;
    margin-top : 0;
    margin-left: 35px;
    width      : 100%;
    position   : absolute;
    top        : 30%;
    text-align : center;
    color      : #ffffff;
    font-family: "Playfair Display", serif;
}

.content h1 {
    font-size     : 3rem;
    margin        : 10px 0;
    color         : #ffffff;
    letter-spacing: 2px;

}

.content p {
    font-size  : 1rem;
    margin     : 15px 0;
    font-weight: 100;
    font-style : italic;
    line-height: 25px;
    color      : #ffffff;
}

.content .tagline {
    font-family: "Playfair Display", serif;
    font-style : italic;
    font-size  : 1.2rem;
    display    : block;
}

.button-content {
    display            : inline-block;
    text-decoration    : none;
    /* Verwijdert de standaard onderstreping van de link */
    padding            : 15px 25px;
    margin             : 20px;
    font-size          : 16px;
    font-family        : "Playfair Display", serif;
    letter-spacing     : 1px;
    border             : 1px solid #ffffff;
    color              : #ffffff;
    cursor             : pointer;
    background         : linear-gradient(to right, transparent 50%, rgb(208, 129, 75) 50%);
    background-size    : 200%;
    background-position: left;
    transition         : background-position 0.5s;
}

.button-content:hover {
    background-position: right;
    border-color       : rgb(208, 129, 75);
    color              : #ffff;
}

/*Mediaquery*/
@media (max-width:768px) {

    /*Stijl vooor logo als scherm kleiner is dan 768px*/
    .logo {
        width: 80px;
    }

    /*style of header als scherm kleiner is dan 768px*/
    /* Toon de hamburger */
    .nav-links {
        display       : none;
        position      : absolute;
        top           : 100%;
        left          : 0;
        width         : 100%;
        flex-direction: column;
        background    : transparent;
        border-radius : 12px;
    }

    .nav-links li {
        margin    : 0;
        /*Horizontale marge van desktop overschrijven*/
        width     : 100%;
        text-align: left;
    }

    .nav-links li a {
        display: block;
        padding: 15px 0;
        /*Groter tapgebied + verticale ruimte tussen items*/
    }

    /* Submenu geforceerd verbergen op mobiel */
    .nav-links .submenu,
    .nav-links .dropdown:hover .submenu,
    .nav-links .dropdown .submenu {
        display: none !important;
    }

    /* De parent container heeft een absolute positionering */
    .navbar {
        width          : 85px;
        position       : relative;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding        : 10px 20px;
    }

    /*Hover-lijn volledig uitschakelen op mobiel*/
    .navbar ul li::after {
        display: none;
    }

    /*Content lager plaatsen en centreren op mobiel*/
    .content {
        top        : 50%;
        /*Verplaatst de tekst lager op het scherm*/
        margin-left: 0;
        /*Verwijdert de vaste linkermarge van desktop*/
        padding    : 20px 15px;
    }

    .content h1 {
        font-size: 2rem;
        /*Kleinere titel op smal scherm*/
    }

    .content p {
        font-size: 0.9rem;
    }

    .content .tagline {
        font-size: 1rem;
    }

    .menu-button,
    .menu-toggle-label {
        display   : flex;
        position  : absolute;
        right     : 20px;
        /* Schuift de knop naar de rechterkant */
        top       : 50%;
        /* Zet de knop verticaal in het midden van de bar */
        transform : translateY(-50%);
        /* Zorgt voor perfecte verticale uitlijning */
        background: transparent;
        width     : 30px;
        /* Geef de knop een vaste breedte */
        height    : 30px;
        /* Geef de knop een vaste hoogte */
        color     : #ffff;
        cursor    : pointer;
        z-index   : 10;
        /* Zorgt dat het icoon altijd bovenop het menu ligt */
    }

    /*Stijl voor icoon header*/
    .menu-toggle-label span {
        position  : absolute;
        top       : 50%;
        left      : 50%;
        transform : translate(-50%, -50%);
        transition: all 0.5s ease;
    }

    /*Start state of chat button*/
    .menu-toggle-label span#menu-icon {
        opacity: 1;
    }

    .menu-toggle-label span#menu-close-icon {
        opacity: 0;
    }

    #menu-toggle:checked~.menu-toggle-label span#menu-icon {
        opacity  : 0;
        transform: translate(-50%, -50%) rotate(180deg);
    }

    #menu-toggle:checked~.menu-toggle-label span#menu-close-icon {
        opacity  : 1;
        transform: translate(-50%, -50%) rotate(180deg);
    }

    /*Wanneer checkbox is aangevinkt, wordt menu getoond*/
    #menu-toggle:checked~.nav-links {
        display: flex;
        /*Het menu verschijnt*/
        opacity: 1;
    }
}