/*
=========
General style
=========
*/
* {
    box-sizing: border-box;
}

body {
    background-color: #fcf7ea;
    margin          : 0;
    padding         : 0;
    width           : 100%;
}

/*Stijl voor header*/
#header {
    margin     : 0 auto;
    align-items: center;
}

/*
==========
titelstijlen
==========
*/
h1,
h2 {
    font-family: "Open Sans", sans-serif;
    color      : rgb(208, 129, 75);
    font-size  : 2rem;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size  : 1rem;
}

/*
=========
Style logo
=========
*/
.logo-header {
    display       : flex;
    flex-direction: column;
    /*Logo boven navigatie*/
    align-items   : center;
}

/*
==========
Style header logo
==========
*/
#salty-cheeks-logo {
    width           : 100px;
    height          : auto;
    background-color: transparent;
    padding         : 15px;
}

/*
==========
Style main
==========
*/
main .intro, 
main .shop{
    margin: 1.5rem;
}

/*
==========
Navigation
==========
*/
.main-nav {
    font-family: "Open Sans", sans-serif;
    width      : 100%;
}

.main-nav li {
    width : 150px;
    height: 50px;
}

.main-nav ul {
    font-family    : "Open Sans", sans-serif;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
    gap            : 25px;
    list-style     : none;
    margin         : 0;
    padding        : 14px 32px
}

.main-nav li a {
    list-style                : none;
    text-decoration           : none;
    width                     : 100%;
    height                    : 50px;
    background-color          : rgb(47, 67, 83);
    color                     : white;
    display                   : flex;
    justify-content           : center;
    align-items               : center;
    text-align                : center;
    border-top-left-radius    : 10px;
    border-bottom-right-radius: 10px;
    box-sizing                : border-box;
    cursor                    : pointer;
}

.main-nav li a:hover {
    background-color: rgb(34, 49, 61);
    color           : white;
    border-radius   : 15px;
    cursor: pointer;
}



/*
1) navigatie main
*/

.sub-nav {
    font-family: "Open Sans", sans-serif;
    width      : 100%;
}

.sub-nav ul {
    list-style     : none;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    gap            : 20px;
    padding        : 0;
}

.sub-nav li a {
    text-decoration: none;
    padding        : 14px 28px;
    border-radius  : 20px;
    background     : rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border         : 1px solid rgba(255, 255, 255, 0.3);
    color          : rgb(47, 67, 83);
    font-family    : "Open Sans", sans-serif;
    font-weight    : 600;
    transition     : 0.3s;
}

.sub-nav a:hover {
    text-decoration: none;
    transform      : translateY(-4px);
    background     : #fff;
    width          : 50px;
    height         : 100px;
    border         : 1px solid rgba(255, 255, 255, 0.3);
}

/*
==========
Shop
==========
*/

.shop {
    display    : inline-block;
    font-family: "Open Sans", sans-serif;
    font-size  : 11px;
    width      : 100%;
}

/*
1) style of card items
*/

.card-list {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    max-width            : 1250px;
    margin               : 10px auto;
    padding              : 20px;
    gap                  : 20px;
}

.card-list .card-item {
    background     : #fff;
    border-radius  : 15px;
    border: 1px solid transparent;
    list-style     : none;
    text-decoration: none;
    cursor         : pointer;
    overflow       : hidden;
    transition     :
        border-color 0.5s ease, /*Kleur van border veranderd op hover*/
        transform 0.3s ease, /*animatie CSS op hover*/
        box-shadow 0.3s ease; /*Schaduw veranderd op hover*/
}

.card-list .card-item:hover {
    border-color: 2px solid rgb(47, 67, 83);
    box-shadow  : 0 10px 20px rgba(0, 0, 0, 0.12);
}

/*
2) Image of cards
*/
.card-list .card-item img {
    width     : 100%;
    height    : 300px;
    /*Alle afbeeldingen dezelfde hoogte*/
    object-fit: cover;
    /*Past de afbeelding telkens aan*/
    display   : block;
}

.card-list .card-item h3 {
    color     : rgb(47, 67, 83);
    font-size : 1rem;
    padding   : 0;
    text-align: center;
}

.card-list .card-item p {
    color     : rgb(47, 67, 83);
    font-size : 0.9rem;
    padding   : 5px;
    text-align: center;
}

/*
==========
Chatbox
=========
*/

/*1) Titelstijlen chatbox*/
.chat .head-text-chat h2 {
    color : white;
    height: 100px;
}

.chat .head-text-chat h3 {
    color : white;
    height: 100px;
}

/*2) Chatbox head*/
.chat {
    padding         : 1.5rem;
    margin          : 1.5em;
    position        : fixed;
    right           : 15px;
    height          : 550px;
    bottom          : 85px;
    max-width       : 450px;
    background-color: #ffffff;
    color           : rgb(47, 67, 83);
    border-radius   : 15px;
    box-shadow      : 0px 15px 20px rgb(0, 0, 0, 0.1);
    opacity         : 0;
    transition      : all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.chat .head-text-chat {
    font-family    : "Open Sans", sans-serif;
    background     : #2f3e46;
    color          : #fff;
    line-height    : 45px;
    height         : 85px;
    margin         : 10px auto;
    padding        : 5px 5px;
    border-radius  : 15px 15px 0 0;
    font-weight    : 400;
    font-size      : 18px;
    display        : flex;
    justify-content: center;
    text-align     : center;
}

.chat .chat-box {
    padding: 10px;
    width  : 100%;
}

/*3) Chatbox text*/
.chat-box .describe-text {
    color      : #555;
    text-align : center;
    font-size  : 17px;
    font-weight: 500;
    height     : 20px;
}

/*4) Chatbox form*/
.chat-box form {
    padding: 10px 12px;
    margin : 20px 0;
}

.chat-box form .field {
    height    : 50px;
    width     : 100%;
    margin-top: 20px;
}

.chat-box form .field:last-child {
    margin-bottom: 15px;
}

form .field input,
form .field button,
form .field textarea {
    width        : 100%;
    height       : 100%;
    padding-left : 20px;
    border       : 1px solid lightgrey;
    outline      : none;
    border-radius: 25px;
    font-size    : 16px;
}

form .field input::placeholder,
form .field textarea::placeholder {
    color     : silver;
    transition: all 0.3s ease;
}

form .field input:focus {
    border-color: rgb(208, 129, 75);
}

form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.chat-box form .textarea {
    height: 80px;
    width : 100%;
}

.chat-box form .field textarea {
    height       : 100%;
    width        : 100%;
    border-radius: 50px;
    border       : 1px solid lightgrey;
    resize       : none;
    padding      : 15px 20px;
    font-size    : 16px;
}

.chat-box form .field textarea:focus::placeholder {
    border-color: rgb(208, 129, 75);
}

/*5) Style button chatbox*/
.chat-box form button {
    font-family  : "Open Sans", sans-serif;
    border       : none;
    border-radius: 15px;
    outline      : none;
    cursor       : pointer;
    background   : rgb(47, 67, 83);
    color        : #fff;
    height       : 35px;
    width        : 100%;
    margin       : 12px auto;
    padding      : 5px;
    transition   : all 0.3s ease;
}

.chat-box form button:hover {
    background : rgb(208, 129, 75);
    font-weight: bold;
}


.chat-box form button:active {
    transform: scale(0.97);
}

/*6) Icon chatbox*/
#click {
    display: none;
}

label {
    position        : fixed;
    right           : 30px;
    bottom          : 20px;
    height          : 55px;
    width           : 55px;
    background-color: #fff;
    color           : #2f3e46;
    text-align      : center;
    line-height     : 55px;
    border-radius   : 50px;
    font-size       : 30px;
    cursor          : pointer;
}

/*Stijl voor icoon chatbox*/
label span {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    transition: all 0.5s ease;
}

/*Start state of chat button*/
Label span#chat-icon {
    opacity: 1;

}

label span#close-icon {
    opacity: 0;
}

#click:checked~label span#chat-icon {
    opacity  : 0;
    transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked~label span#close-icon {
    opacity  : 1;
    transform: translate(-50%, -50%) rotate(180deg);
}


#click:checked~.chat {
    opacity: 1;
    bottom : 85px;
}




/*
==========
Stijl voor footer
==========
*/

/*
1) General
*/
.footer-distributed {
    display         : flex;
    flex-wrap       : nowrap;
    background-color: rgb(47, 67, 83);
    width           : 100%;
    /*Volledige footer heeft dezelfde background color*/
    margin-top      : 10px;
    padding         : 50px 50px 60px 50px;
    bottom          : 0;
    box-sizing      : border-box;
    height          : 450px;
}

/*
2) Titelstijlen footer
*/
.footer-distributed h2,
/*Opmerking: komma niet vergeten*/
.footer-distributed h3 {
    font-size: 16px;
    color    : white;
}

.footer-distributed h2 {
    margin : 5px;
    padding: 5px;
}

.footer-distributed .footer-center h2,
.footer-distributed .footer-right h2 {
    font-family: "Playfair display", sans-serif;
}

.footer-distributed h3,
/*Opmerking: komma niet vergeten*/
.footer-distributed p {
    margin : 10px;
    padding: 5px;
}

.footer-distributed .footer-center p,
.footer-distributed .footer-right p {
    font-size     : 12px;
    display       : inline-block;
    color         : #fff;
    vertical-align: middle;
}


/*
3) Logo seahorse footer
*/
.logo-footer #seahorse {
    height     : 135px;
    width      : auto;
    align-items: center;
    margin     : 5px auto;
}

/*
4) Stjl voor navigatie in footer
*/
.footer-nav {
    display       : flex;
    flex-direction: column;
    margin        : 5px;
    padding       : 5px;
    gap           : 5px;
}

.footer-nav a {
    display        : block;
    min-width      : 80px;
    padding        : 5px 10px;
    font-size      : 12px;
    color          : #fff;
    text-decoration: none;
    transition     : background-color 0.2s, color 0.2s;
    /*Opmerking    : subtiel hover-effect */

}

.footer-nav a:hover {
    font-weight: bold;

}

/*
5) Onderdelen footer
*/
/*
5.1) Style footer left
*/
.footer-distributed .footer-left {
    width : 20%;
    margin: 20px 0 12px 0;
}

.footer-distributed .footer-left a {
    display        : inline-block;
    line-height    : 1.8;
    text-decoration: none;
    color          : #fff;
}

/*
5.2) Style footer center
*/
.footer-distributed .footer-center {
    width      : 45%;
    font-size  : 12px;
    font-weight: normal;
    margin     : 5px;
    box-sizing : border-box;
}

/*
5.3) footer right
*/
.footer-distributed .footer-right {
    width     : 35%;
    padding   : 0 10px;
    box-sizing: border-box;
}

/*
5.4) e-mailform footer right
*/
.footer-distributed .footer-right form {
    display       : flex;
    flex-direction: column;
    /*Input en button staan onder elkaar*/
    gap           : 5px;
    margin-top    : 10px;
}

.footer-distributed .footer-right form input {
    border-radius: 20px;
    height       : 35px;
    width        : 100%;
    padding      : 0 12px;
    font-size    : 10px;
    border       : none;
    box-sizing   : border-box;
}

.footer-distributed .footer-right form #button {
    border-radius   : 20px;
    height          : 35px;
    width           : 100%;
    cursor          : pointer;
    border          : none;
    background-color: #fff;
    color           : rgb(47, 67, 83);
    font-size       : 12px;
    font-weight     : bold;
    transition      : background-color 0.2s, color 0.2s;
    /* subtiel hover-effect */
}

.footer-distributed .footer-right form #button:hover {
    background-color: rgb(47, 67, 83);
    color           : #fff;
    border          : 1px solid #fff;
}

/*
6) Stijl copyright
*/
.end .copy {
    font-size       : 0.5em;
    text-align      : left;
    line-height     : 1;
    margin          : 0;
    padding         : 12px;
    background-color: rgb(47, 67, 83);
    color           : white;
    width           : 100%;
    /*Volledige footer heeft dezelfde background color*/
}

/*
==========
Mediaqueries
==========
*/

/*
1) Tablet
*/
@media (min-width: 768px) and (max-width: 1024px) {
    footer {
        position: static;
    }

    header {
        padding-top: 20px;
    }

    #navigation ul {
        display       : flex;
        flex-direction: column;
        gap           : 25px;
        list-style    : none;
        margin        : 0;
        padding       : 14px 32px;
    }

    aside {
        display: none;
    }

    .card-list .card-item {
        padding: 15px;
    }
}

/*
2) Smartphone
*/
@media (max-width: 767px) {
    #navigation ul {
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }

    .card-list {
        margin: 0 auto;
    }

    #chatbox-right {
        display: none;
    }

    .footer-distributed {
        display: none;
    }

    .end {
        display: none;
    }
}